</div>
<main role='main' class='container'>
  <div class='row'>
    <div class="col-md-8 blog-main">

      <%= render @blog %>

      <%= render 'comments/comment_form' %>

      <div id="comments" data-blog-id="<%= @blog.id %>">
        <%= render @blog.comments %>

      </div>
    </div>

    <%= render 'shared/blog_sidebar' %>
  </div>
</main>