<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=@page_title%></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="keywords" content="<%= @seo_keywords %>" />
  <%= favicon_link_tag 'favicon_io/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!--div id="background-img"></div-->

  <%= video_tag(
      'Web-Video-3.mp4',
      id: 'background',
      autoplay: true,
      loop: true,
      muted:true,
      poster: 'home_bg.png'
    ) 
  %>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto text-center">

      <%= render "shared/application_nav" %>

    </header>

    <%= yield %>

    <%= render "shared/application_footer" %>

    <%= alerts %>

  </div>

</body>

</html>